* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url(./imgs/pngtree-ps-making-evening-sunset-background-ps-production-evening-sunset-floating-background-png-image_466450.jpg);
    transition: 0.5s;
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
}
body.active{
    background-image: url(./imgs/lighting-clipart-stormy-cloud-14.png);
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    transition: 0.5s;
}
nav{
    height: 15%;
    width: 100%;
    
    position:fixed;
    top: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav #btn{
    height: 80%;
    width: 12%;
    background: #fff;
    border-radius: 160px;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                inset 0 8px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
nav #btn .indicator{
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    transform: scale(0.9);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
                inset 0 4px 4px rgb(48, 33, 33),
                inset 0 -4px 4px rgb(52, 49, 49);
                
    transition: 0.5s;
}
#btn.active .indicator{
    left: 90px;
}
.main{
    height: 100%;
    width: 100%;

}
.main img{
    height: 100%;
    width: 100%;
}
#btn.active{
    background: #181818;
    box-shadow: inset 0 2px 60px (0, 0, 0, 0.1),
    box-shadow: inset 0 2px 8px (0, 0, 0, 0.1),
    box-shadow: inset 0 -4 8 (0, 0, 0, 0.05);
}
#btn.active .indicator{
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    background: linear-gradient(to bottom, #444, #222);
}